/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */

#featured-brands {
  width: 65%;

  float:left;
}

#archive-list {
  width: 35%;

  padding-left: 10px;
  float: left;

}

#deal1 {
  float: left;
  width: 33%;
  padding-top: 10px;
  padding-right: 10px

}

#deal2 {
  float: left;
  width: 33%;
  padding-top: 10px;
  padding-right: 10px

}

#deal3 {
  float: left;
  width: 33%;
  padding-top: 10px;


}

#contact {
  float: left;
  width: 33%;
  padding: 20px
}

#links {
  float: left;
  width: 33%;
  padding: 20px
}

#follow {
  float: left;
  width: 33%;
  padding: 20px
}
